html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#main
{
    position: relative;
    display: flex;
    align-items: center;
    background: gray;
    height: 100%;
    width: 100%;
    justify-content: center;
    min-width: 500px;
    cursor: pointer;
}

#title
{
  text-align: center;
  height:115px;
  width: 100%;
  color: gold;
  font-size: 69px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 100px;
}

#levelArea {
  height: 270px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.levelPaneArea{
  position: relative;
  height: 270px;
  width: 270px;
  overflow: hidden;
}

.arrowsArea {
  height: 270px;
  width: 115px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.block
{
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  box-sizing: border-box;
  z-index: 10;
  background-color: purple;
}

.editing > .block:hover {
  opacity: 0.75;
}

.placingPlayer > .block:hover{
  background-color: red;
}

.placingGoal > .block:hover{
  background-color: black;
}



#home
{
  display: flex;
  height: 500px;
  width: 500px;
  align-items: center;
  flex-direction: column;
}

#board
{

}

#playArea {
  display: block;
  position: relative;
  background: black;
  height:500px;
  width: 500px;
  background-color: yellow;
  border: 1px solid gold;
  margin-left: 250px;
}

#sidebar {
  position: absolute;
  left: -1px;
  top: 0px;
  width: 250px;
  height: 500px;
  border: 1px solid gold;
  background: green;
  color: gold;
  font-size: 45px;
}

#infoArea {
  font-size: 20px;
  padding: 0px 20px;
  margin-bottom:50px;
}

#infoArea p {
  margin: 0px;
}

#victory
{
  display: flex;
  width: 500px;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
}

#victory > h1 {
  margin: -10px 0px 20px 0px;
}

#welcome
{
  display: flex;
  height: 500px;
  width: 500px;
  align-items: center;
  flex-direction: column;
}

.frame
{
  display: block;
  position: relative;
  color: gold;
  height:500px;
}

#moveNum, #victoryMoveNum {
  text-align: center;
}

.level
{
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 270px;
  margin: 0px;
  text-align: center;
  line-height: 54px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.level:hover
{
  font-size: 35px;
}

.welcomeOption {
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 500px;
  margin: 0px 0px 2px 0px;
  text-align: center;
  line-height: 54px;
}

.welcomeOption:hover {
  font-size: 40px;
}

#sessionName {
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 500px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  line-height: 54px;
  position: absolute;
  bottom:0px;
}

.back {
  color: gold;
  font-size: 30px;
  height: 55px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  line-height: 54px;
  position: absolute;
  bottom: 20px;
}
.back:hover {
  font-size: 40px;
}

#editDone {
  color: gold;
  font-size: 25px;
  height: 54px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  line-height: 54px;
  position: absolute;
  bottom: 70px;
}
#editDone:hover {
  font-size: 30px;
}

.editButtons{
  color: gold;
  font-size: 25px;
  height: 54px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  line-height: 54px;
  position: relative;
}

.editButtons:hover {
  font-size: 30px;
}

#play {
    font-size: 40px;
}

#play:hover {
  font-size: 50px;
}

.disabledPlay {
  font-size: 30px !important;
  color: #c1a3009e !important;
}

.hidden {
  display: none !important;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(1.25); }
  to { transform: scale(1); }
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.arrow-left {
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid gold;
  margin-left:10px;
}
.arrow-left:hover {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid gold;
}

.arrow-left.disabled {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #c1a3009e;
  margin-left:10px;
}

.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid gold;
    margin-right:10px;
}
.arrow-right:hover {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid gold;
}

.arrow-right.disabled {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #c1a3009e;
  margin-right:10px;
}

.arrow-left-big {
  width: 0px;
  height: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid gold;
}
.arrow-left-big:hover {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid gold;
}

.arrow-left-big.disabled {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #c1a3009e;
}

.arrow-right-big {
  width: 0px;
  height: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid gold;
}

.arrow-right-big:hover {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid gold;
}

.arrow-right-big.disabled {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #c1a3009e;
}

.levelPane {
  position: absolute;
  left: 0px;
  transition: left 1s;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 270px;
  width: 270px;
}

.paneLeft {
  position: absolute;
  transition: left 1s;
  left: -270px !important;
}

.paneRight {
  position: absolute;
  transition: left 1s;
  left: 270px !important;
}

.flash:not(.player):not(.playerSecond) {
  animation: flash 1s 1 none;
}

@keyframes flash {
  0% {
    background-color: #00dd00;
  }
  80% {
    background-color: #00dd00;
  }
  100% {
    background-color: #77ff77;
  }
}



.regular
{
  background-color: lightgray;
}

.dead
{
  background-color: gray;
}

.highlighted {
  background-color: #77ff77;
}

.goal
{
  background-color: black !important;
}

.player {
  background-color: red !important;
}

.playerSecond {
  background-color: red !important;
}
