html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#main
{
    position: relative;
    display: flex;
    align-items: center;
    background: gray;
    height: 100%;
    width: 100%;
    justify-content: center;
    min-width: 500px;
    cursor: pointer;

}

#title
{
  text-align: center;
  color: gold;
  font-size: 69px;
  margin-top: 46px;
  margin-bottom: 16px;
}

.block
{
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  box-sizing: border-box;
  z-index: 10;
  background-color: purple;
}

.regular
{
  background-color: lightgray;
}

.dead
{
  background-color: gray;
}

.goal
{
  background-color: black;
}

.player {
  background-color: red;
}

#home
{
  display: flex;
  height: 500px;
  width: 500px;
  align-items: center;
  flex-direction: column;
}

#board
{
  display: block;
  position: relative;
}

#playArea {
  display: block;
  position: relative;
  background: black;
  height:500px;
  width: 500px;
  background-color: yellow;
  border: 1px solid gold;
  margin-left: 250px;
}

#sidebar {
  position: absolute;
  left: -1px;
  top: 0px;
  width: 250px;
  height: 500px;
  border: 1px solid gold;
  background: green;
  color: gold;
  font-size: 45px;
}

#victory
{
  display: block;
  color: gold;
  position: relative;
  font-size: 68px;
}

#moveNum, #victoryMoveNum {
  text-align: center;
}


.level
{
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 130px;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  line-height: 54px;
}

.level:hover
{
  font-size: 40px;
}

#nNUpload {
  position: absolute;
  bottom: 64px;
  color: black;
  font-size: 30px;
  height: 64px;
  width: 300px;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  line-height: 54px;
}

#nNUpload:hover
{
  font-size: 40px;
}

#brainInput {
  display: none;
}

.hidden {
  display: none !important;
}
