html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#main
{
    position: relative;
    display: flex;
    align-items: center;
    background: gray;
    height: 100%;
    width: 100%;
    justify-content: center;
    min-width: 500px;
    cursor: pointer;
}

#title
{
  text-align: center;
  color: gold;
  font-size: 69px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 100px;
}

.block
{
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  box-sizing: border-box;
  z-index: 10;
  background-color: purple;
}

.regular
{
  background-color: lightgray;
}

.dead
{
  background-color: gray;
}

.goal
{
  background-color: black;
}

.player {
  background-color: red;
}

#home
{
  display: flex;
  height: 500px;
  width: 500px;
  align-items: center;
  flex-direction: column;
}

#board
{

}

#playArea {
  display: block;
  position: relative;
  background: black;
  height:500px;
  width: 500px;
  background-color: yellow;
  border: 1px solid gold;
  margin-left: 250px;
}

#sidebar {
  position: absolute;
  left: -1px;
  top: 0px;
  width: 250px;
  height: 500px;
  border: 1px solid gold;
  background: green;
  color: gold;
  font-size: 45px;
}

#infoArea {
  font-size: 20px;
  padding: 0px 20px;
}

#infoArea p {
  margin: 0px;
}

#victory
{
  display: flex;
  width: 500px;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
}

#victory > h1 {
  margin: -10px 0px 20px 0px;
}

#welcome
{
  display: flex;
  height: 500px;
  width: 500px;
  align-items: center;
  flex-direction: column;
}

.frame
{
  display: block;
  position: relative;
  color: gold;
  height:500px;
}

#moveNum, #victoryMoveNum {
  text-align: center;
}

.level
{
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 130px;
  margin: 0px;
  text-align: center;
  line-height: 54px;
}

.level:hover
{
  font-size: 40px;
}

.welcomeOption {
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 500px;
  margin: 0px 0px 2px 0px;
  text-align: center;
  line-height: 54px;
}

.welcomeOption:hover {
  font-size: 40px;
}

#sessionName {
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 500px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  line-height: 54px;
  position: absolute;
  bottom:0px;
}

.back {
  color: gold;
  font-size: 30px;
  height: 54px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  line-height: 54px;
  position: absolute;
  bottom: 20px;
}
.back:hover {
  font-size: 40px;
}

#play {
    font-size: 40px;
}

#play:hover {
  font-size: 50px;
}

.disabledPlay {
  font-size: 30px !important;
  color: #c1a3009e !important;
}

.hidden {
  display: none !important;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(1.25); }
  to { transform: scale(1); }
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
