html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#main
{
    position: relative;
    display: flex;
    align-items: center;
    background: gray;
    height: 100%;
    width: 100%;
    justify-content: center;
    min-width: 500px;
    cursor: grab;
}

#board
{
  position: relative;
  background: black;
  height:500px;
  width: 500px;
  background-color: yellow;
  display: none;
}

.block
{
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  box-sizing: border-box;
  z-index: 10;
  background-color: purple;
}

.regular
{
  background-color: lightgray;
}

.dead
{
  background-color: gray;
}

.goal
{
  background-color: black;
}

.player {
  background-color: red;!important
}

#victory
{
  color: gold;
  position: relative;
  display: none;
  font-size: 68px;
}

#title
{
  text-align: center;
  color: gold;
  font-size: 69px;
}

#home
{
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.level
{
  text-align: center;
  color: gold;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
  width: 100px;
}

.level:hover
{
  font-size: 40px;
  width: 130px;
}

.help
{
  text-align: center;
  color: gold;
  font-size: 20px;
  margin: 0px;
  padding: 10px;
  font-weight: lighter;
}

.help PRE
{
  margin: 0;
}
